

    <section>
<div class="container">
  <div class="row align-items-center py-4">
    <div class="col-md-4 mx-auto col-8">
      <img  [src]="'https://image.tmdb.org/t/p/w500'+movie().poster_path"  class="w-100 mx-auto" alt="movie.poster">
   
    </div>

    <div class="col-md-8  ">
      <h2 class="my-4">{{movie().title}}</h2>
      <p class="text-muted">{{movie().release_date}}</p>
      <p class="mb-4">{{movie().overview}}</p>
      <div class="d-flex flex-wrap ">
              @for(gener of movie().genres; track gener.id){  <span class="genres bg-main me-3 my-3"> {{gener.name}}</span>}

      </div>
    
      <div class="d-flex mt-4">
        <div  ><span class="fw-bold ">Duration : </span> {{movie().runtime}} Min.</div>
        <div  class="mx-4"><span class="fw-bold  ">Languages : </span> {{movie().spoken_languages[0].name}}</div>
      </div>
<div class="my-3">
               @for(companie of movie().production_companies; track companie.id){  <img [src]="'https://image.tmdb.org/t/p/w500'+companie.logo_path" class="w-25 me-3 " alt="">}

</div>

<a [href]="movie().homepage" class="btn btn-outline-warning rounded-pill">Website</a>

    </div>
  </div>

<hr>

  <div class="row ">
<h3  class=" fw-bold py-3">Recommendations</h3>
@for(movie of similarMovies() ; track movie.id){
   <div class="col-md-2 col-6 cardMovie" >

                <div class="card h-100  border-0">
                        <a [routerLink]=" ['/movieDetails',movie.id]" >
                              <img [src]="'https://image.tmdb.org/t/p/w500'+movie.poster_path" class="card-img-top rounded-3" alt="...">

                        </a>
  <div class="card-body d-flex justify-content-between border-0 ">
    <div class="">
    <h5 class="card-title fs-5 fw-bold">{{movie.title}}</h5>
    <p class="card-text text-muted fs-6">{{movie.release_date}}</p>
    </div>
<i class="fa-solid fa-heart"></i>
 
  </div>
</div>



</div>
}
 






</div>



    </div>
    </section>


